---
title: Delft Energie Coöperatie i.o.
---

<div class="intro">
  <h2>Lokaal duurzaam energie opwekken</h2>
  <p>
    Het wordt tijd dat de inwoners van Delft in staat worden gesteld meer duurzame
    energie zelf op te wekken. Maar niet ieders dak is geschikt of beschikbaar
    voor zonnepanelen. Ook kan het dat je een dak deelt met andere kopers of
    huurders die niet kunnen of willen meewerken aan de installatie van
    zonnepanelen.
  </p>
</div>

<div class="help">
  <%= image_tag("hilgersom-deen.jpg") %>
  <h2>Help mee!</h2>
  <p>
    Wilt u ook bijdragen aan een duurzame toekomst? En wilt u meer lokaal
    opgewekte duurzame energie in Delft? Als u op de hoogte wilt blijven, of mee
    wilt werken aan de oprichting van een Delftse energiecoöperatie, neem dan
    contact met ons op: <%= mail_to("info@delftenergie.nl") %>
  </p>
</div>

<h2>Vliegende start</h2>
<p>
  Om eigen duurzaam opgewekte energie toch mogelijk te maken willen wij, Arthur
  Hilgersom en Wouter Deen, een energiecoöperatie in Delft oprichten. De
  gemeente Delft ondersteunt dit en stelt daken van gemeentelijke gebouwen
  beschikbaar voor collectieve zonnepaneelinstallaties van burgers. Dit biedt
  een prachtige kans voor snel resultaat!
</p>

<h2>Zon op Delftse daken</h2>
<p>
  Wij streven er naar om binnen 1 jaar met een Delftse energiecoöperatie een
  gemeentelijk dak vol te leggen met zonnepanelen. Maar onze ambities voor de
  energiecoöperatie reiken verder: niet alleen zo veel mogelijk gemeentelijke
  daken benutten voor zonne-energie, maar ook andere geschikte daken - van
  bedrijven, scholen, verenigingen en particulieren.
</p>

<h2>Samen…</h2>
<p>
  Een lokale energiecoöperatie biedt allerlei kansen om ook andere vormen van
  duurzame energie, bewustwording en nieuwe samenwerkingen te stimuleren, zoals
  inspirerende uitwisseling van kennis tussen leden onderling over verduurzaming
  van eigen woning en duurzaamheidstips in het dagelijkse leven.
</p>
